<div class="modal-header">

    <div class="pull-right">
        <div class="pull-left" style="padding-left: 3px; padding-right: 13px; height: 23px; border-right: 1px solid #ccc;">
            <a href="JavaScript:void;"><i class="fa fa-floppy-o"></i> 保 存</a>
        </div>

        <button type="button" style="margin-left: 15px;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <h4 class="modal-title">编 辑A</h4>
</div>
<div class="modal-body">
    <!--此处 form 纯粹是布局需要-->
    <form class="form-horizontal">

        <div class="row" style="border-top: 1px solid #f4f4f4; height: 80px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">邮箱：</label>
                    <p class="form-control-static">1234567@qq.com</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">邮箱：</label>
                    <p class="form-control-static">1234567@qq.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">岗位：</label>
                    <p class="form-control-static">XXXXXXX</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">岗位：</label>
                    <p class="form-control-static">XXXXXXX</p>

                </div>
            </div>
        </div>

        <div class="row" style="border-top: 1px solid #f4f4f4; height: 80px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">邮箱：</label>
                    <p class="form-control-static">1234567@qq.com</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">邮箱：</label>
                    <p class="form-control-static">1234567@qq.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">岗位：</label>
                    <p class="form-control-static">XXXXXXX</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">岗位：</label>
                    <p class="form-control-static">XXXXXXX</p>

                </div>
            </div>
        </div>
    </form>
</div>