
@{
    ViewBag.Title = "Index";
}
@section styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Scripts/t2m_adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
    <link href="~/Scripts/t2m_adminlte/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" />
    <link href="~/Scripts/t2m_adminlte/plugins/iCheck/all.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        项目列表
        @*<small>工作台</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i> 项目计划</a></li>
        <li class="active">项目列表</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        
        <div class="box-body">
            <form id="form_search" class="form-horizontal">
                <div class="row">
                    <div class="pull-left" style="padding-left: 14px;">

                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">筛选 <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu" role="menu"style="padding: 0; ">
                                <li>
                                    <div id="HH_JJ" class="box box-solid" style="width: 500px;margin-bottom: 0;" >
                                        <div class="box-header with-border" style="background-color: #f5f5f5;">
                                            <h3 class="box-title">蒋世春 简介</h3>
                                            <div class="box-tools">
                                                <button type="button" class="btn btn-box-tool">
                                                    @*<i class="fa fa-minus"></i>*@
                                                    <span style="font-size: 14px;">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="box-body" style="min-height: 120px;">
                                            <div class="user-panel">
                                                <div class="pull-left image">
                                                    <img src="~/Scripts/t2m_adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <div class="pull-left" style="margin-left: 20px;">
                                                    <p>蒋世春</p>
                                                    <a href="JavaScript:;"> 运营管理中心</a>
                                                </div>
                                            </div>
                                            <!--此处 form 纯粹是布局需要-->
                                            <form class="form-horizontal">

                                                <div class="row" style="border-top: 1px solid #f4f4f4; height: 80px;">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">邮箱：</label>
                                                            <p class="form-control-static">1234567@qq.com</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">邮箱：</label>
                                                            <p class="form-control-static">1234567@qq.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">岗位：</label>
                                                            <p class="form-control-static">XXXXXXX</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">岗位：</label>
                                                            <p class="form-control-static">XXXXXXX</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row " style="border-top: 1px solid #f4f4f4; height: 80px;">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">邮箱：</label>
                                                            <p class="form-control-static">1234567@qq.com</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">邮箱：</label>
                                                            <p class="form-control-static">1234567@qq.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">岗位：</label>
                                                            <p class="form-control-static">XXXXXXX</p>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">岗位：</label>
                                                            <p class="form-control-static">XXXXXXX</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div style="clear: both;"></div>

                                            <ul class="nav nav-pills nav-stacked">
                                                <li class="active">
                                                    <a href="#">
                                                        <i class="fa fa-inbox"></i> Inbox
                                                        <span class="label label-primary pull-right">12</span>
                                                    </a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                                                <li>
                                                    <a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
                                                </li>
                                            </ul>


                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <button type="button" class="btn btn-default btn-sm">排序 <i class="fa fa-angle-down"></i></button>

                        <button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-search icon-search"></i></button>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"/> 当时的
                            </label>
                         
                        </div>

                    </div>
                    <div class="pull-right" style="padding-right: 15px;">
                        <a href="@Url.Action("Index3")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加项目</a>
                    </div>
                </div>
                
            </form>

            

            <!--table-bordered-->
            <table id="example1" class="table  table-row-border  table-hover text-yellow" style="background-color: white;"></table>
        </div>

    </div>

</section>

@section scripts{
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/t2m_adminlte/bower_components/datatables.net/buttons/dataTables.buttons.js"></script>
    <script src="~/Scripts/t2m_adminlte/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="~/Scripts/t2m_adminlte/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/t2m_adminlte/js/datatables/dataTablesForTDF.js"></script>
    <script>
        $("#HH_JJ").click(function(e) {
            e.stopPropagation();
        });

        //$("#HH_JJ").on("click", function() {
            
        //});
        
        var tabColumns = [
            { "data": "Id", "title": "" }, //{}
            { "data": "Item1", "title": "名称", orderable: true }, //
            { "data": "Item2", "title": "管辖区域", width: "150", className: "text-center", orderable: false },
            { "data": "Item3", "title": "面积", orderable: false },
            { "data": "Item4", "title": "拿地", orderable: false },
            { "data": "Item5", "title": "展示", orderable: false },
            { "data": "Item6", "title": "开盘", orderable: false },
            { "data": "Item7", "title": "交房", orderable: false },
            { "data": "Item8", "title": "项目经理" },
            { "data": "Item9", "title": "状态", orderable: false },
            //{ "data": "Id", "title": "操作", render: function (data, type, row, meta) { return "<a href=\"@Url.Action("Index4")\">详 情</a>"; } }
        ];

        //通常用于对参数的额外加工 回调函数
        var serverParam = function(dataParams) {
            return dataParams;
        }

        var opts = {
            showButtons: false, // 是否显示操作按钮组
            buttons: [], //操作按钮组 在showButtons==true时 默认会有一个 刷新按钮
            lengthChange: true, //是否允许用户改变 PageSize
            pageSize: 10, //PageSize 设置 默认为 10
            searching: false, //是否开启 默认关键词搜索
            ordering: false,
            searchPlaceholder: "关键词", //默认搜索框提示文字
            searchTextWidth: "200px" //默认搜索框的宽度 默认值：标准宽度
        };

        var jscTable = TdfDataTableParams.CreateDataTable('example1', 'form_search', '/Scripts/DemoJson1.json', tabColumns, opts, serverParam);

    </script>


}
